<div class="container m-4 is-fullhd">
    <div class="block">
        <p class="title is-2">Visión de Estadísticas</p>
        <p class="subtitle is-4">Seleccione el rango que desea visualizar</p>
    </div>
    <hr>
    <div class="block">
        <div class="columns">
            <div class="column px-2">
                <div class="block">
                    <p class="title is-4">Filtro</p>
                </div>
                <div class="block">
                    <div class="select is-medium is-fullwidth">
                        <select class="form-control" @bind="OpcionEscogida">
                            <option value="@Opciones.TodasLasPartidas">Todas las partidas</option>
                            <option value="@Opciones.Año">Filtrar por año</option>
                            <option value="@Opciones.Mes">Filtrar por mes</option>
                        </select>
                    </div>
                </div>
            </div>
            @if (OpcionEscogida is Opciones.Año or Opciones.Mes)
            {
                <div class="column px-2">
                    <div class="block">
                        @if (OpcionEscogida == Opciones.Año)
                        {
                            <p class="title is-4">Seleccione el año</p>
                        }
                        else
                        {
                            <p class="title is-4">Seleccione el mes</p>
                        }
                    </div>
                    <div class="block">
                        <div class="select is-medium is-fullwidth">
                            @if (OpcionEscogida == Opciones.Año)
                            {
                                <select class="form-control" @bind="AñoSeleccionado">
                                    @for (int i = 2022; i < 2051; i++)
                                    {
                                        var localVariable = i;
                                        <option value="@localVariable">@localVariable</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <select class="form-control" @bind="MesSeleccionado">
                                    <option value="@Meses.Enero">Enero</option>
                                    <option value="@Meses.Febrero">Febrero</option>
                                    <option value="@Meses.Marzo">Marzo</option>
                                    <option value="@Meses.Abril">Abril</option>
                                    <option value="@Meses.Mayo">Mayo</option>
                                    <option value="@Meses.Junio">Junio</option>
                                    <option value="@Meses.Julio">Julio</option>
                                    <option value="@Meses.Agosto">Agosto</option>
                                    <option value="@Meses.Septiembre">Septiembre</option>
                                    <option value="@Meses.Octubre">Octubre</option>
                                    <option value="@Meses.Noviembre">Noviembre</option>
                                    <option value="@Meses.Diciembre">Diciembre</option>
                                </select>
                            }
                        </div>
                    </div>
                </div>    
            }
            <div class="column px-2">
                <div class="block">
                    <p class="title is-4">Filtrar datos</p>
                </div>
                <div class="block">
                    <button class="button is-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
