@using Horrografia.Client.Shared.Components.General
@using Horrografia.Client.Shared.Components.Dashboard.Statistics

<PageLoading Titulo="Estadísticas" IsLoading="@IsLoading">
    <div class="container m-4 is-fullhd dashboard-stats-container">
        <div class="block">
            <p class="title is-2">Visión de Estadísticas</p>
            <p class="subtitle is-4">Seleccione el rango que desea visualizar</p>
        </div>
        <hr>
        <div class="block">
            <div class="columns">
                <div class="column px-2">
                    <div class="block">
                        <p class="title is-4">Filtro</p>
                    </div>
                    <div class="block">
                        <div class="select is-medium is-fullwidth">
                            <select class="form-control" @bind="OpcionEscogida">
                                <option value="@Opciones.TodasLasPartidas">Todas las partidas</option>
                                <option value="@Opciones.Año">Filtrar por año</option>
                                <option value="@Opciones.Mes">Filtrar por mes</option>
                            </select>
                        </div>
                    </div>
                </div>
                @if (OpcionEscogida is Opciones.Año or Opciones.Mes)
                {
                    <div class="column px-2">
                        <div class="block">
                            @if (OpcionEscogida == Opciones.Año)
                            {
                                <p class="title is-4">Seleccione el año</p>
                            }
                            else
                            {
                                <p class="title is-4">Seleccione el mes</p>
                            }
                        </div>
                        <div class="block">
                            <div class="select is-medium is-fullwidth">
                                @if (OpcionEscogida == Opciones.Año)
                                {
                                    <select class="form-control" @bind="AñoSeleccionado">
                                        @for (int i = 2022; i < 2051; i++)
                                        {
                                            var localVariable = i;
                                            <option value="@localVariable">@localVariable</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-control" @bind="MesSeleccionado">
                                        <option value=1>Enero</option>
                                        <option value=2>Febrero</option>
                                        <option value=3>Marzo</option>
                                        <option value=4>Abril</option>
                                        <option value=5>Mayo</option>
                                        <option value=6>Junio</option>
                                        <option value=7>Julio</option>
                                        <option value=8>Agosto</option>
                                        <option value=9>Septiembre</option>
                                        <option value=10>Octubre</option>
                                        <option value=11>Noviembre</option>
                                        <option value=12>Diciembre</option>
                                    </select>
                                }
                            </div>
                        </div>
                    </div>    
                }
                <div class="column px-2">
                    <div class="block">
                        <p class="title is-4">Filtrar datos</p>
                    </div>
                    <div class="block">
                        <button class="button is-primary" @onclick="FiltrarPartidas">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        @if (EnseñarEstadísticas)
        {
            if (EstaCargandoLasNuevasEstadisticas)
            {
                <div class="block article-bottom">
                    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                </div>
            }
            else
            {
                <div class="block">
                    <p class="title is-2">Visión General</p>
                    <p class="subtitle is-4">@TituloDeEstadisticas</p>
                </div>
                <div class="block">
                    <div class="columns">
                        <div class="column px-2">
                            <h4 class="title is-4">Partidas jugadas</h4>
                            <h6 class="subtitle is-6">@PartidasLuegoDeSerFiltradas.Count</h6>
                        </div>
                        <div class="column px-2">
                            <h4 class="title is-4">Errores cometidos</h4>
                            <h6 class="subtitle is-6">@ErroresCometidos</h6>
                        </div>
                    </div>
                </div>
                <div class="block tabs is-centered is-medium is-boxed">
                    <ul>
                        <li class=@_tableActiveString>
                            <a @onclick="c => ChangeTabContent(ActiveTabState.ShowTableTab)">Errores</a>
                        </li>
                        <li class=@_graphActiveString>
                            <a @onclick="c => ChangeTabContent(ActiveTabState.ShowGraphTab)">Gráficos</a>
                        </li>
                        <li class=@_historyActiveString>
                            <a @onclick="c => ChangeTabContent(ActiveTabState.ShowHistoryTab)">Historial</a>
                        </li>
                    </ul>
                </div>
                <div class="block stats-container">
                    @switch (_activeTab)
                    {
                        case ActiveTabState.ShowTableTab:
                            <StatsTable Dictionary="TagCounterDictionary"/>
                            break;
                        case ActiveTabState.ShowGraphTab:
                            <StatsGraph Dictionary="TagCounterDictionary"/>
                            break;
                        case ActiveTabState.ShowHistoryTab:
                            <StatsHistory Reportes="PartidasLuegoDeSerFiltradas"
                                          NivelesInDatabase="Niveles"
                                          UsuariosInDatabase="Usuarios"/>
                            break;
                    }
                </div>
            }
        }
    </div>
</PageLoading>

