@page "/estudiantes"
@using Microsoft.AspNetCore.Authorization
@using Horrografia.Client.Shared.Components.General
@using Horrografia.Client.Shared.Components.Dashboard.Statistics
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Horrografia.Client.Shared.Components.Dashboard
@using Horrografia.Shared.Models
@attribute [Authorize(Roles = "Admin, Profesor")]

<PageLoading Titulo="Administración estudiantil" IsLoading="@IsLoading">
   <div class="container m-4 is-fullhd dashboard-stats-container">
        <div class="block">
            <p class="title is-2">Visión de estadísticas para estudiantes</p>
            <p class="subtitle is-4">Seleccione qué desea visualizar</p>
        </div>
        <hr>
        <div class="block">
            <div class="columns">
                <div class="column px-2">
                    <div class="block">
                        <p class="title is-4">Filtro</p>
                    </div>
                    <div class="block">
                        <div class="select is-medium is-fullwidth">
                            <select class="form-control" @bind="OpcionEscogida">
                                <option value="@Opciones.TodasLasPartidas">Todas las partidas</option>
                                <option value="@Opciones.Estudiante">Filtrar por estudiante</option>
                            </select>
                        </div>
                    </div>
                </div>
                @if (OpcionEscogida is Opciones.Estudiante)
                {
                    <div class="column px-2">
                        <div class="block">
                            <p class="title is-4">Seleccione el estudiante</p>
                        </div>
                        <div class="block">
                            <div class="select is-medium is-fullwidth">
                                <select class="form-control" @bind="_IdEnSeleccionDePagina">
                                    @foreach (var estudiante in Usuarios)
                                    {
                                        <option value="@estudiante.id">@GetUserNameFromId(estudiante.id)</option>    
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                }
                <div class="column px-2">
                    <div class="block">
                        <p class="title is-4">Filtrar datos</p>
                    </div>
                    <div class="block">
                        <button class="button is-primary" @onclick="FiltrarPartidas">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        @if (EnseñarEstadísticas)
        {
            if (EstaCargandoLasNuevasEstadisticas)
            {
                <div class="block article-bottom">
                    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                </div>
            }
            else
            {
                <div class="block">
                    <p class="title is-2">Visión General</p>
                    <p class="subtitle is-4">@TituloDeEstadisticas</p>
                </div>
                <div class="block">
                    <div class="columns">
                        <div class="column px-2">
                            <h4 class="title is-4">Partidas jugadas</h4>
                            <h6 class="subtitle is-6">@PartidasLuegoDeSerFiltradas.Count</h6>
                        </div>
                        <div class="column px-2">
                            <h4 class="title is-4">Errores cometidos</h4>
                            <h6 class="subtitle is-6">@ErroresCometidos</h6>
                        </div>
                    </div>
                </div>
                <div class="block tabs is-centered is-medium is-boxed">
                    <ul>
                        <li class=@_tableActiveString>
                            <a @onclick="c => ChangeTabContent(ActiveTabState.ShowTableTab)">Errores</a>
                        </li>
                        <li class=@_graphActiveString>
                            <a @onclick="c => ChangeTabContent(ActiveTabState.ShowGraphTab)">Gráficos</a>
                        </li>
                        <li class=@_historyActiveString>
                            <a @onclick="c => ChangeTabContent(ActiveTabState.ShowHistoryTab)">Historial</a>
                        </li>
                    </ul>
                </div>
                <div class="block stats-container">
                    @switch (_activeTab)
                    {
                        case ActiveTabState.ShowTableTab:
                            <StatsTable Dictionary="TagCounterDictionary"/>
                            break;
                        case ActiveTabState.ShowGraphTab:
                            <StatsGraph Dictionary="TagCounterDictionary"/>
                            break;
                        case ActiveTabState.ShowHistoryTab:
                            <StatsHistory Reportes="PartidasLuegoDeSerFiltradas"
                                          NivelesInDatabase="Niveles"
                                          UsuariosInDatabase="Usuarios"/>
                            break;
                    }
                </div>
            }
        }
   </div>
</PageLoading>
