@page "/juego"
@using Horrografia.Client.Shared.Components.General
@using Horrografia.Client.Shared.Components.Game


<PageLoading Titulo="Horrografía" IsLoading="@IsLoading">
    @if (!Niveles.Any())
    {
        <section class="section is-large">
            <div class="container has-text-centered is-justify-content-center">
                <div class="columns">
                    <div class="column ">
                        <div class="block has-text-centered">
                            <h1 class='title'>No se encontraron niveles de horrografía</h1>
                            <hr>
                        </div>
                        <div class="block has-text-centered">
                            <h2 class='subtitle'>¡Por favor intente jugar mas tarde!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        @if (IsChoosingLevel)
        {
            <section class="section is-large">
                <div class="container has-text-centered is-justify-content-center">
                    <div class='columns is-mobile is-centered'>
                        <div class='column is-8'>
                            <div class="block has-text-centered">
                                <h1 class='title'> Seleccione un nivel</h1>
                                <hr>
                            </div>
                            <div class="block">
                                <div class="select is-medium is-fullwidth">
                                    <select class="form-control" @bind="_IdEnSeleccionDePagina">
                                        @foreach (var Nivel in Niveles)
                                        {
                                            <option value="@Nivel.Id">@Nivel.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="block article-bottom">
                                <button class="button is-primary" @onclick="BuscarDatosDeNivel">Jugar Nivel</button>
                            </div>
                            @if (NivelSeleccionado != null)
                            {
                                <div class="notification is-primary is-light block">
                                    <div class="block">
                                        @NivelSeleccionado.Descripcion    
                                    </div>
                                    <div class="block">
                                        <p>
                                            <b>Errores permitidos: </b>@NivelSeleccionado.ErroresPermitidos
                                        </p>      
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            <LoadingScreen SubTitulo="@LoadingStatus" IsLoading="@IsLoadingGame">
                @if (SuccesfulGameLoad)
                {
                    <Juego 
                        Items="ItemsTotales" 
                        Pistas="PistasTotales" 
                        FormasIncorrectas="FormasIncorrectasTotales" 
                        Nivel="NivelSeleccionado" 
                        PlayerID="@UserID" 
                        MatchID="GameID"
                        OnReportCreated="PostGameReport"
                        OnGameMistakeCreated="PostGameMistake"
                        OnExceptionOccured="NotifyError"
                        CurrentGameDate="@CurrentDate"
                        />
                }
                else
                {
                    <ErrorMessage/>
                }
            </LoadingScreen>
        }
    }
</PageLoading>