@page "/dashboard/niveles"
@using Horrografia.Client.Shared.Components.General
@using Horrografia.Client.Shared.Constants
@using Microsoft.AspNetCore.Authorization
@using Horrografia.Client.Shared.Components.Dashboard.Level_Creation
@using Horrografia.Shared.Models
 
@attribute [Authorize]
@inject IDialogService DialogService


<PageLoading Titulo="Administración de niveles" IsLoading="IsLoading">
    @if (InitialLoadStatus == Constantes.OKSTATUS)
    {
        @if (!Niveles.Any())
        {
            @*No se encontraron niveles*@
            <MudContainer Style="position: absolute; top: 30vh; width: 100%;">
                <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">
                    No se encontraron niveles.
                </MudText>
                <MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true">
                    No existen niveles registrados en la base de datos.
                </MudText>
                <MudGrid Justify="Justify.Center">
                    <MudItem>
                        <MudButton OnClick="ShowCrearNivel" Variant="Variant.Filled" Color="Color.Success">
                            Crear nivel
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudContainer>

            <LevelCreationDialog ShowDialogue="ShowCreateLevelDialog"
                                 ExistenNiveles="false"
                                 OnDialogClosed="CloseDialogWindow"
                                 OnLevelCreation="CreateLevel" />

        }
        else
        {
            <MudContainer Class="mt-4 px-8" MaxWidth="MaxWidth.False">
                <MudGrid>
                    <MudItem xs="12" sm="12" md="12">
                        <MudCard Elevation="2" Class="pa-4" Style="height: 200px;" Outlined="true">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h5">Administración de niveles</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudItem>
                                        <MudGrid Spacing=2>
                                            <MudItem>
                                                <MudButton OnClick="ShowCrearNivel" Variant="Variant.Filled" Color="Color.Success">
                                                    Crear nivel
                                                </MudButton>
                                            </MudItem>
                                            @if (nivelActual != null)
                                            {
                                                <MudItem>
                                                    <MudButton OnClick="ShowCrearNivel" Variant="Variant.Filled" Color="Color.Info">
                                                        Editar nivel
                                                    </MudButton>
                                                </MudItem>
                                                <MudItem>
                                                    <MudButton OnClick="ShowCrearNivel" Variant="Variant.Filled" Color="Color.Error">
                                                        Borrar nivel
                                                    </MudButton>
                                                </MudItem>
                                            }
                                        </MudGrid>
                                    </MudItem>
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudSelect T="NivelModel" @bind-Value="@nivelActual" Label="Escoja el nivel" Variant="Variant.Outlined" ToStringFunc="@converter" OffsetY="true">
                                    @foreach (var Nivel in Niveles)
                                    {
                                        <MudSelectItem Value="@Nivel" />
                                    }
                                </MudSelect>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="12">
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Datos">
                                <MudItem>
                                    @if (nivelActual == null)
                                    {
                                        <MudText Class="mt-5">No se ha seleccionado nivel.</MudText>
                                    }
                                    else
                                    {
                                        <MudSimpleTable Hover="true" Striped="true">
                                            <thead>
                                                <tr>
                                                    <th>Propiedad</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Descripción del nivel</td>
                                                    <td>@nivelActual.Descripcion</td>
                                                </tr>
                                                <tr>
                                                    <td>Máximo de items</td>
                                                    <td>@nivelActual.NumeroDeItems</td>
                                                </tr>
                                                <tr>
                                                    <td>Errores máximos</td>
                                                    <td>@nivelActual.ErroresPermitidos</td>
                                                </tr>
                                            </tbody>
                                        </MudSimpleTable>
                                    }
                                </MudItem>
                            </MudTabPanel>
                            <MudTabPanel Text="Items">
                                <MudText>Content Two</MudText>
                            </MudTabPanel>
                        </MudTabs>
                    </MudItem>
                </MudGrid>
            </MudContainer>

        @*Dialogo de creación*@
        <LevelCreationDialog ShowDialogue="ShowCreateLevelDialog"
                                ExistenNiveles="true"
                                OnDialogClosed="CloseDialogWindow"
                                OnLevelCreation="CreateLevel" />
        }
     }
    else
    {
        <ErrorMessage />
    }
</PageLoading>>
