@using Horrografia.Client.Shared.Components.General

<PageLoading Titulo="Cargando items de nivel" IsLoading="_isLoading">
    @if (_itemList.Any())
    {
        <MudGrid>
            <MudItem Class="mx-2" xs="12" sm="12" md="12">
                <MudSimpleTable Hover="true" Striped="true" FixedHeader="true" Style="height: 300px; " Elevation="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Forma Correcta</th>
                            <th>Forma Incorrecta</th>
                            <th>Pista</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _itemList)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.FormaCorrecta</td>
                                <td>@item.FormaIncorrecta</td>
                                <td>@GetPistaById(item.PistaId)</td>
                                <td>
                                    <MudGrid Spacing="1">
                                        <MudItem>
                                            <MudTooltip Text="Editar Item">
                                                <MudFab Color="Color.Info" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" DisableElevation="true" OnClick="() => openItemEditionDialog(item)"/>
                                            </MudTooltip>
                                        </MudItem>
                                        <MudItem>
                                            <MudTooltip Text="Borrar Item">
                                                <MudFab Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" DisableElevation="true" OnClick="() => openItemDeletionDialog(item)"/>
                                            </MudTooltip>
                                        </MudItem>
                                    </MudGrid>
                                </td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" Class="my-2">
                <MudGrid Justify="Justify.Center">
                    <MudItem>
                        <MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="openItemCreationDialog" Disabled="GetCreationButtonState()">
                            Agregar item
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    }
    else
    {
        @*Se despliega mensaje de que no hay items en el nviel*@
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" sm="12" md="12">
                <MudText Typo="Typo.h5" GutterBottom="true" Align="Align.Center">
                    El nivel no tiene items.
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Center" GutterBottom="true">
                    No existen items registrados en este nivel en la base de datos.
                </MudText>
            </MudItem>
            <MudItem xs="12" sm="12" md="12">
                <MudGrid Justify="Justify.Center">
                    <MudItem>
                        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="openItemCreationDialog">
                            Crear item
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    }
    <ItemCreationDialog ShowDialogue="_showItemCreationDialog"
                        ItemsTotales="ItemsTotales"
                        PistasTotales="PistasTotales"
                        OnDialogClosed="closeItemCreationDialog"
                        OnItemCreation="ItemCreationRequest"
                        OnClueCreation="ClueCreationRequest"
                        OnRelationCreation="RelationCreationRequest" />
</PageLoading>